.container__main__profile{
    height: calc(100vh - 8rem);
}

.container__inner__profile{
    height: calc(100vh - 16rem);
    width: 90%;
}


.address__data__area{
    margin-left: 10rem;
    width: 60%;
    margin-bottom: 5rem;
}

.address__profile__heading{
    border-bottom: .1rem solid black;
}

.address__profile__heading button{
    color: white;
    margin: .5rem 0;
    border-radius: 0;
    padding: .5rem;
    margin-left: auto;
}

.addresses__area{
    overflow-y: auto;
    flex-wrap: wrap;
    height: 100%;
}