.container__main__profile{
    height: calc(100vh - 8rem);
}

.container__inner__profile{
    height: calc(100vh - 16rem);
    width: 90%;
}


.profile__data__area{
    margin-left: 10rem;
    width: 60%;
}

.user__data__heading{
    font-weight: bold;
    padding: .4rem 0;
    border-bottom: .1rem solid black;
}

.user__data__fields{
    font-size: 2rem;
    margin:1rem 0;
}

.user__data__fields .user__data__value{
    margin-left: auto;
    font-weight: bold;
}