.container__main__checkout{
    height: calc(100vh - 8rem);
}


/* address area */

.address__area{
    width: 40rem;
    overflow-y: scroll;
}

.address__area__heading{
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: var(--font-heading);
    border-bottom: .1rem solid var(--dark);
}

.address__area span{
    margin-left: auto;
}

.address__area span button{
    margin: 0;
    font-size: 1.5rem;
    color: white;
}


/* ----------------------------------------------------------order Details */

.container__order__details{
    margin-left: auto;
    border: .1rem solid var(--dark);
    width: 50rem;
}

.order__details__heading{
    font-family: var(--font-heading);
}

.purchased__item__heading{
    border-top: .1rem solid black;
    border-bottom: .1rem solid black;
    font-family: var(--font-heading);
    padding: .5rem 0;
    font-weight: bold;
}

.purchased__item__vals
{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: var(--font-heading);
}

.purchased__item__vals .itemPriceLabel{
    margin-left: auto;
}

.container__purchased__item__area{
    overflow-y: auto;
    height: 20rem;
}

.order__item__container{
    font-size: 1.8rem;
    font-family: var(--font-heading);
}


.order__item__container .itemPriceLabel{
    margin-left: auto;
}


/* -----------------------------------------------price Details */

.heading__priceDetails{
    border-top: .1rem solid black;
    border-bottom: .1rem solid black;
    font-family: var(--font-heading);
    padding: .5rem 0;
    font-weight: bold;
}

.container__priceDetails div{
    font-size: 1.8rem;
    font-family: var(--font-heading);
    font-weight: bold;
    margin: .5rem 0;
}

.container__priceDetails div .priceDetail__value{
    margin-left: auto;
}

.container__priceDetails .finalPrice{
    border-top: .1rem solid var(--darker) ;
    border-bottom: .1rem solid black;
    padding: .5rem 0;
}

.container__order__details button{
    color: white;
    width: 100%;
    margin: 0;
    border-radius: 0;
}

.disabled{
    background-color: rgb(90, 90, 159);
}
